// app global css in SCSS form

body, .bg-image {
  background-image: url("src/assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.bg-brand {
  background: #602b78;
  background: -webkit-linear-gradient(0deg, #070b34 0%, #141852 50%, #602b78 100%);
  background: linear-gradient(0deg, #070b34 0%, #141852 50%, #602b78 100%);
}

.glass {
  background: rgba(31, 30, 30, 0.45);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(10,10,10,0.25);
}

.bg-brand-secondary {
  background: #474bff;
}
